$borderRadius: 20px;
$inputBoxShadowOnFocus: 0 0 5px rgba(0,80,80,.4);

.login-container {
  &_main-row {
    &_form-col {

      @media (min-width: 768px) {
        width: 400px;
      }

      background-color: #fff;
      border: 1px solid $borderColor;
      box-shadow: 0 5px 5px rgb(0 0 0 / 40%);
      border-radius: $borderRadius;
      margin: 5em auto;

      .login-form-header {
        color: $mainColor;
        margin-top: 20px;
        margin-bottom: 10px
      }

      .custom-input {
        @include customInput;
      }
    }
  }
}
